form#player-form
  .form-group
    label.control-label(for="players-num") Number Of Players
    input.form-control(type="number" min="2" max="10")
    span.help-block leave it empty to play with any avaliable group
    br
    input.btn.btn-primary(type="submit" value="Look for players")