table.table.table-striped.table-bordered
  tbody
    tr
      - var i = -1
      if typeof amount === 'string' && amount.match( /^any/i )
        td: img(src="./images/load.gif")
      else
        while ( i++ < (amount-1) )
          if players[ i ]
            td
              img(src="#{ avatar }")
              p= players[ i ]
          else
            td: img(src="./images/load.gif")