doctype html
html
  head
    title Spot diff Game
    link(rel="stylesheet" href="/stylesheets/vendors/bootstrap.min.css")
    link(rel="stylesheet" href="/stylesheets/vendors/bootstrap-theme.min.css")
    link(rel="stylesheet" href="/stylesheets/styles.css")
  body
    block contents
