extends layout.jade

block contents
  .row
    .col-xs-12.options-bar
      button.btn.btn-lg.btn-success Create A New Picture
    .col-xs-12
      table.table.table-striped
        tr
          th picture
          th diffs
          th games
          th clicks
          th time
        each picture in pictures
          tr
            td: img(src="#{ picture.image.path }")
            td picture.diffs
            td picture.games
            td picture.clicks
            td picture.time