body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#container {
  text-align: center;
}

#canvas {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px dashed;
}

.options-bar {
  text-align: center;
  margin-bottom: 30px;
}

.start-play {
  text-align: center;
  margin-top: 50px;
}

#sign-up {
  margin-top: 10px;
  text-align: center;
}

.well {
  overflow: hidden;
}

#player-info {
  background-color: #525252;
  color: #fff;
}

.glyphicon {
  margin-bottom: 10px;
  margin-right: 10px;
}

small {
  display: block;
  line-height: 1.428571429;
  color: #999;
}

ul.social-networks {
  list-style: none;
  padding: 0px;
  margin-bottom: 0;
}

ul.social-networks li {
  color: black;
  position: relative;
  display: inline-block;
  font-size: 1.1em;
  margin-left: 5px;
}

ul.social-networks li:first-child {
  margin-left: 0;
}

ul.social-networks a {
  color: black;
}

ul.user-info {
  list-style: none;
}