body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#container {
  text-align: center;
}

#canvas {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px dashed;
}

.options-bar {
  text-align: center;
  margin-bottom: 30px;
}

.start-play {
  text-align: center;
  margin-top: 50px;
}

#sign-up {
  margin-top: 10px;
  text-align: center;
}

.well {
  overflow: hidden;
}

.panel-heading {
  background-color: brown;
  margin-bottom: 0;
}

.panel-body {
  background-color: aquamarine;
}

#player-info {
  list-style: none;
  padding: 0;
  font-size: 16px;
  font-family: monospace;
}

#player-avatar {
  padding: 10px 0;
  background-color: #72e3bd;
}